# Dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# Build output
.next/
out/
build/
dist/

# Testing / coverage
coverage/
.nyc_output/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Local env (overrides)
.env
.env*.local
!.env.local.example

# Vercel
.vercel

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
